@model IEnumerable<Utility>

@{
    ViewBag.Title = "Utilities";
}

<h2>Premises</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var utility in Model)
    {
        <tr>
            <td>@utility.Id</td>
            <td>@utility.Name</td>
        </tr>
    }
    </tbody>
</table>

<hr/>

<div>
    <a asp-action="Create">Create</a>
</div>