@model IEnumerable<PremisesMember>

@{
    ViewBag.Title = "Manage Members";
}

<h2>Manage Members</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Admin</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.Id</td>
            <td>@member.User.UserName</td>
            <td>@member.Admin</td>
            <td>
                <form asp-controller="Premises" asp-action="RemoveMember" method="post" class="form-horizontal">
                    <div>
                        <input asp-for="@member.Id" name="memberId" type="hidden" />
                        <input type="submit" class="btn btn-sm btn-raised btn-primary" value="Remove" title="Remove Member" />
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="AddMember">Add Member</a>